# Based on Rails 0.10.0 .htaccess (www.rubyonrails.com)

<DirectoryMatch "^/.*/\.svn/">
    Order deny,allow
    Deny from all
</DirectoryMatch>

<IfModule mod_php5.c>
    php_flag magic_quotes_gpc off
</IfModule>

<IfModule mod_rewrite.c>

# Redirect all requests not available on the filesystem to Cake
RewriteEngine Off
RewriteBase /foire-cake
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

# In case Cake experiences terminal errors
ErrorDocument 500 500.html

</IfModule>
